
body {
    display: block !important;
}

.logo {
    margin-left: 5px;
}

.card.card-container {
    border-width: 0;
}

.text-alignment-right{
    float: right;
}

.amexCardLogo,.banamexCostcoCardLogo, .carnetCardLogo, .carteBancaireCardLogo, .dinersClubCardLogo,
.discoverCardLogo, .eloCardLogo, .farmersCardLogo, .jcbCardLogo, .laserCardLogo, .maestroCardLogo, .mastercardCardLogo,
.qCardLogo, .sorianaCardLogo, .trueRewardsCardLogo, .uatpCardLogo, .visaCardLogo, .otherCardLogo,
.costcoMemberCreditLogo {
    height: 26px;
    width: 38px;
}

.amexCardLogo {
    background-image: url("../images/american_express.png");
}

.banamexCostcoCardLogo {
    background-image: url("../images/banamex_costco.png");
}

.carnetCardLogo {
    background-image: url("../images/carnet.png");
}

.carteBancaireCardLogo {
    background-image: url("../images/carte_bancaire.png");
}

.dinersClubCardLogo {
    background-image: url("../images/diners_club.png");
}

.discoverCardLogo {
    background-image: url("../images/discover.png");
}

.eloCardLogo {
    background-image: url("../images/elo.png");
}

.farmersCardLogo {
    background-image: url("../images/farmers_card.png");
}

.jcbCardLogo {
    background-image: url("../images/jcb.png");
}

.laserCardLogo {
    background-image: url("../images/laser.png");
}

.madaCardLogo {
    background-image: url("../images/mada.png");
    height: 20px;
    width: 60px;
}

.maestroCardLogo {
    background-image: url("../images/maestro.png");
}

.mastercardCardLogo {
    background-image: url("../images/mastercard.png");
}

.qCardLogo {
    background-image: url("../images/q_card.png");
}

.sorianaCardLogo {
    background-image: url("../images/soriana.png");
}

.trueRewardsCardLogo {
    background-image: url("../images/true_rewards.png");
}

.uatpCardLogo {
    background-image: url("../images/uatp.png");
}

.visaCardLogo {
    background-image: url("../images/visa.png");
}

.otherCardLogo {
    background-image: url("../images/other.png");
}

.rupayCardLogo {
    background-image: url("../images/rupay.png");
    height: 36px;
    width: 88px;
    display: inline-block;
    vertical-align: middle;
    background-size: 87px 50px;
    margin-top:-20px;
}

.paypalLogo {
    background-image: url("../images/paypal.png");
    height: 26px;
    width: 100px;
    display: inline-block;
    vertical-align: middle;
}

.unionpayLogo {
    background-image: url("../images/unionpay.png");
    height: 24px;
    width: 38px;
    display: inline-block;
    vertical-align: middle;
}

.citiBoletoBancarioLogo {
    background-image: url("../images/citiBoletoBancario.png");
    height: 36px;
    width: 64px;
    display: inline-block;
    vertical-align: middle;
    background-size: 64px 36px;
}

.mercadoPagoCheckoutLogo {
    background-image: url("../images/mercado_pago_checkout.png");
    height: 20px;
    width: 77px;
    display: inline-block;
    vertical-align: middle;
    background-size: 77px 20px;
}

.idealLogo {
     background-image: url("../images/ideal.png");
     height: 18px;
     width: 20px;
     display: inline-block;
     vertical-align: middle;
     background-size: 20px 18px;
 }

.alipayLogo {
    background-image: url("../images/alipay.png");
    height: 20px;
    width: 76px;
    display: inline-block;
    vertical-align: middle;
    background-size: 76px 20px;
}

.sofortLogo {
    background-image: url("../images/sofort.png");
    height: 22px;
    width: 69px;
    display: inline-block;
    vertical-align: middle;
    background-size: 69px 22px;
}

.giropayLogo {
    background-image: url("../images/giropay.png");
    height: 22px;
    width: 44px;
    display: inline-block;
    vertical-align: middle;
    background-size: 44px 22px;
}

.enetsLogo {
    background-image: url("../images/enets.png");
    height: 14px;
    width: 67px;
    display: inline-block;
    vertical-align: middle;
    background-size: 67px 14px;
}

.poliLogo {
    background-image: url("../images/poli.png");
    height: 17px;
    width: 49px;
    display: inline-block;
    vertical-align: middle;
    background-size: 49px 17px;
}

.klarnaLogo {
    background-image: url("../images/klarna.png");
    height: 24px;
    width: 42px;
    display: inline-block;
    vertical-align: middle;
    background-size: 42px 24px;
}

.klarnaFinancingLogo {
    background-image: url("../images/klarna_financing.png");
    height: 24px;
    width: 42px;
    display: inline-block;
    vertical-align: middle;
    background-size: 42px 24px;
}

.secureRemoteCommerceLogo {
    background-image: url("../images/secure_remote_commerce/src_symbol.svg");
    background-repeat: no-repeat;
    height: 16px;
    width: 32px;
    display: inline-block;
    vertical-align: middle;
}

.src-mc-icon {
    background-image: url("../images/secure_remote_commerce/mc_symbol.svg");
    background-repeat: no-repeat;
    height: 18px;
    width: 29px;
    margin-left: 2px;
    display: none;
    vertical-align: middle;
}

.src-visa-icon {
    background-image: url("../images/secure_remote_commerce/visa_symbol.svg");
    background-repeat: no-repeat;
    height: 11px;
    width: 30px;
    margin-left: 2px;
    display: none;
    vertical-align: middle;
}

.src-amex-icon {
    background-image: url("../images/secure_remote_commerce/amex_symbol.svg");
    background-repeat: no-repeat;
    height: 19px;
    width: 19px;
    margin-left: 2px;
    display: none;
    vertical-align: middle;
}


.bancanetLogo {
    background-image: url("../images/bancanet.png");
    height: 20px;
    width: 94px;
    display: inline-block;
    vertical-align: middle;
}

.masterpassLogo {
    /* Following Masterpass branding guidelines - https://developer.mastercard.com/page/masterpass-digital-assets#masterpass-mark */
    background-image: url('https://static.masterpass.com/dyn/img/acc/global/mp_mark_hor_blk.svg');
    background-repeat: no-repeat;
    background-size: 87px;
    height: 15px;
    width: 87px;
    margin-left: 3px;
    margin-right: 3px;
    display: inline-block;
    vertical-align: middle;
}

.visaCheckoutLogo {
    background-image: url("../images/visa_checkout.png");
    height: 24px;
    width: 87px;
    margin-left: 3px;
    margin-right: 3px;
    display: inline-block;
    vertical-align: middle;
}

.amexExpressCheckoutLogo {
    background-image: url("../images/rsz_amexexpress.png");
    height: 24px;
    width: 87px;
    margin-left: 3px;
    margin-right: 3px;
    display: inline-block;
    vertical-align: middle;
}

.costcoPrivateLabelCardLogo {
    background-image: url("../images/costco_PL.gif");
    height: 24px;
    width: 38px;
    display: inline-block;
    vertical-align: middle;
}

.costcoCashCardLogo {
    background-image: url("../images/costco_shop_card.png");
    height: 24px;
    width: 38px;
    display: inline-block;
    vertical-align: middle;
}

.costcoShopCardLogoFrench {
    background-image: url("../images/costco_shop_card_fr.png");
    height: 24px;
    width: 38px;
    display: inline-block;
    vertical-align: middle;
}

.costcoMemberCreditLogo {
    background-image: url("../images/costco_member_credit.png");
    height: 24px;
    width: 38px;
    display: inline-block;
    vertical-align: middle;
}

.achLogo {
    background-image: url("../images/ach.png");
    height: 18px;
    width: 38px;
    display: inline-block;
    vertical-align: middle;
}

.spinner {
    background-image: url("../images/spinner.gif");
    height: 39px;
    width: 36px;
    display: inline-block;
    vertical-align: middle;
}


.paymentMethodDescription {
    margin-left: 20px;
}

.singlePayment .paymentMethodDescription {
    margin-left: 0px;
}

.singlePayment .radio-inline {
    padding-left: 0px;
}

.paymentMethodText {
    vertical-align: middle;
    white-space: nowrap;
}

.apm-field {
    width: 10em !important;
}

.masterpassLearnMoreLinkText {
    white-space: nowrap;
    font-style: italic;
    font-size: 75%;
}

.creditLogo {
    background-image: url("../images/credit.png");
    height: 24px;
    width: 38px;
    display: inline-block;
    vertical-align: middle;
}


.hppPaymentTypeSupported {
    background-repeat: no-repeat;
    display: inline-block;;
}

.hppPaymentTypeNotSupported {
    display: none;
}

.hppPaymentTypeSelected {

}

.hppPaymentTypeNotSelected {
    opacity: 0.3;
    filter: alpha(opacity=30); /* msie */
}

.cardBrandSelectionIcon {
    background-repeat: no-repeat;
    display: inline-block;
}

.cardTypeSelectionRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cardTypeOption {
    padding-right: 5px;
}

.cardTypeOptionNotSupported {
    display: none;
}

.cardTypeSelectionRadio {
    vertical-align: super;
}

[data-hppIndicatorContent], .card[data-hppDisplayControlContainerFor], .row[data-hppDisplayControlContainerFor], [data-hppDisplayControlContainerFor], .row[data-hppContainerFor], [data-hppContainerFor], [data-hppMandatoryIndicatorFor], [data-hppCscLocationContent], [data-hppThreeDSecureMessage] {
    display: none;
}

[data-hppValidateClass] {
    display: none;
}

[data-hppValidateClass].error {
    display: block;
}

input[data-hppValidateClass], input[data-hppValidateClass].error,
select[data-hppValidateClass], select[data-hppValidateClass].error {
    display: inline-block;
}

input.placeholder {
    color: #aaa !important;
}

.indicatorContainer div {
    width: 100%;
    height: 100%;
}

.positionRelative {
    position: relative;
}

.positionAbsolute {
    position: absolute;
}

/*** AMEX PWP ***/
#modalContent #redeemUI {
    height:510px;
}

#paymentDetailsContainer #redeemUI {
    height:395px;
    margin-left: 15px;
}

#receiptUI {
    border-top: 1px solid #e5e5e5;
    padding-top: 20px;
    margin-top: 15px;
    border-bottom: 1px solid #e5e5e5;
}

.card #receiptUI {
    height: 122px;
    border-bottom: 1px solid #e5e5e5;
    margin-left: 15px;
    margin-bottom: 20px;
}

#amex-pwp-container-redeem {
    display: none;
}

.screen-reader-only {
    height: 1px;
    width: 1px;
    position: absolute;
    clip: rect(1px,1px,1px,1px);
    clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
    -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
    overflow: hidden !important;
}

/***************************** START TNS FONT SECTION *************************************/
@font-face {
    font-family: 'tns-font';
    src: url('../font/tns-font.eot');
    src: url('../font/tns-font.eot') format('embedded-opentype'),
    url('../font/tns-font.woff') format('woff'),
    url('../font/tns-font.ttf') format('truetype'),
    url('../font/tns-font.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'tns-font';
    src: url('../font/tns-font.svg?15489070#tns-font') format('svg');
  }
}
*/

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "tns-font";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-cancel:before { content: '\2715'; } /* 'âœ•' */
.icon-asterisk:before { content: '\2731'; } /* 'âœ±' */
.icon-lock:before { content: '\e07e'; } /* 'î¾' */
.icon-question-sign:before { content: '\e704'; } /* 'îœ„' */
.icon-info-sign:before { content: '\e705'; } /* 'îœ…' */
.icon-arrows-ccw:before { content: '\e800'; } /* 'î €' */
.icon-exclamation-sign:before { content: '\f12a'; } /* 'ï„ª' */

/* '' */
.icon-2x {
    font-size: 2em;
}

.icon-3x {
    font-size: 3em;
}

.icon-4x {
    font-size: 4em;
}

/***************************** END TNS FONT SECTION *************************************/

@media screen and (max-width: 992px) {
    /*
    When displayed on small devices then add margin to error message that may be wrapped
    */
    .errorMessage {
        margin-left: 15px;
    }
    .row.row-inline .errorMessage {
        margin-left: 0;
    }
}

@media screen and (min-width: 992px) {
    #paymentMethodKlarna > .card-body > div[data-hppContent] {
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    /* Add some spacing when in mobile*/
    .row-inline [data-hppCardHolderLastName] {
        margin-top: 10px;
    }
}

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
    /* IE11+ specific styles start with <*::-ms-backdrop> selector */
    *::-ms-backdrop, input[type="radio"]:focus {
        outline: thin dotted invert;
    }
}

@-moz-document url-prefix() {
    :focus {
        outline: thin dotted;
        outline-color: Highlight;
    }

    input[type="radio"][name="paymentMethod"]:focus {
        outline-offset: 0;
    }
}

.inputGroupHeader {
    font-size: 18px;
    font-weight: bold;
    line-height: normal;
    margin: 15px 0;
}

.orderDetails .formHeader {
    font-size: 12pt;
    font-weight: bold;
}

.totalRow {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    padding-top: 4px;
    vertical-align: middle;
    color: #323232 !important;
}

.rowRight {
    text-align: right;
}

table tbody tr td.lineItemAmounts {
    text-align: right;
    width: 1px;
    white-space: nowrap;
    padding-right: 20px;
    padding-left: 20px;
}

table tbody tr td.text-center {
    text-align: center;
}

@media screen and (max-width: 768px) {
    table tbody tr td.lineItemAmounts {
        width: 130px;
        white-space: normal;
    }
}
/**** MODAL DIALOG ***/

.modal-open {
    overflow: hidden;
}

.modal {
    display: none;
    overflow: auto;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
}

.modal.carousel-fade .modal-dialog {
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    transform: translate(0, -25%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}

.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
    z-index: 1050;
}

.modal-content {
    position: relative;
    background-color: #ffffff;
    border: 1px solid #999999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    outline: none;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
    background-color: #000000;
}

.modal-footer > * {
    margin: 0 !important;
}

.modal-backdrop.fade {
    opacity: 0;
    filter: alpha(opacity=0);
}

.modal-backdrop.in {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.modal-header {
    padding: 15px 15px 0px 15px !important;
    border-bottom: 1px solid #e5e5e5;
    min-height: 16.428571429px;
}

.modal-header-body {
    margin-bottom: 15.5px;
    width: -webkit-fill-available;
}

.modal-header .close {
    margin-top: -2px;
    opacity: 0.2;
}

.modal-title {
    font-size: 23px;
    margin: 0;
    line-height: 1.428571429;
}

.modal-body {
    position: relative;
    padding: 20px !important;
}

.modal-body h2,
.modal-body .h2 {
    font-size: 20px;
}
.h4 {
    font-size: 18px !important;
}

h5, .h5 {
    font-size: 14px !important;
}

.header h1, .header .h1 {
    margin-top:20px !important;
    margin-bottom:10px !important;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: -apple-system,BlinkMacSystemFont,"San Francisco",Roboto,"Segoe UI","Helvetica Neue",sans-serif !important;
}

.modal-body .h3 {
    font-size: 16px;
}

.modal-body .editPaymentDetails {
    display: none;
}

.modal-footer {
    margin-top: 15px;
    padding: 19px 20px 20px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}

.modal-footer:before,
.modal-footer:after {
    content: " ";
    display: table;
}

.modal-footer:after {
    clear: both;
}

.modal-footer .btn + .btn {
    margin-left: 5px;
    margin-bottom: 0;
}

.modal-footer .btn-group .btn + .btn {
    margin-left: -1px;
}

.modal-footer .btn-block + .btn-block {
    margin-left: 0;
}

.modal-header #interactionTimer {
    margin-left: -15px;
    margin-right: -15px;
}

#interactionTimer {
    display: none;
    border-top: 1px solid #e5e5e5;
    margin-bottom: 15px;
    padding-top: 10px;
    text-align: center;
}

#interactionTimer.payment-page {
    display: inline;
    position: fixed;
    top: 20px;
    right: 20px;
    float: right;
    z-index: 999;
    background-color: white;
    box-shadow: 0 6px 12px 0 rgba(0,0,0,0.12);
}

#interactionTimer .time {
    font-weight: bold;
    vertical-align: bottom;
}

.interactionTimerLabel {
    padding-left: 0px;
    vertical-align: bottom;
}

#interactionTimer .icon {
    background-image: url("../images/clock_icon.png");
    height: 26px;
    width: 26px;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

@media screen and (min-width: 768px) {
    .modal-dialog {
        width: 600px;
        margin: 30px auto;
    }

    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    }
}

/***** MODAL END ***/

/****** POP-OVER START (required by csclocation.js) */
.popover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1010;
    display: none;
    max-width: 276px;
    padding: 1px;
    text-align: left;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    white-space: normal;
}

.popover.top {
    margin-top: -10px;
}

.popover.right {
    margin-left: 10px;
}

.popover.bottom {
    margin-top: 10px;
}

.popover.left {
    margin-left: -10px;
}

.popover-title {
    margin: 0;
    padding: 8px 14px;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ebebeb;
    border-radius: 5px 5px 0 0;
}

.popover-content {
    padding: 9px 14px;
}

.popover .arrow,
.popover .arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.popover .arrow {
    border-width: 11px;
}

.popover .arrow:after {
    border-width: 10px;
    content: "";
}

.popover.top .arrow {
    left: 50%;
    margin-left: -11px;
    border-bottom-width: 0;
    border-top-color: #999999;
    border-top-color: rgba(0, 0, 0, 0.25);
    bottom: -11px;
}

.popover.top .arrow:after {
    content: " ";
    bottom: 1px;
    margin-left: -10px;
    border-bottom-width: 0;
    border-top-color: #ffffff;
}

.popover.right .arrow {
    top: 50%;
    left: -11px;
    margin-top: -11px;
    border-left-width: 0;
    border-right-color: #999999;
    border-right-color: rgba(0, 0, 0, 0.25);
}

.popover.right .arrow:after {
    content: " ";
    left: 1px;
    bottom: -10px;
    border-left-width: 0;
    border-right-color: #ffffff;
}

.popover.bottom .arrow {
    left: 50%;
    margin-left: -11px;
    border-top-width: 0;
    border-bottom-color: #999999;
    border-bottom-color: rgba(0, 0, 0, 0.25);
    top: -11px;
}

.popover.bottom .arrow:after {
    content: " ";
    top: 1px;
    margin-left: -10px;
    border-top-width: 0;
    border-bottom-color: #ffffff;
}

.popover.left .arrow {
    top: 50%;
    right: -11px;
    margin-top: -11px;
    border-right-width: 0;
    border-left-color: #999999;
    border-left-color: rgba(0, 0, 0, 0.25);
}

.popover.left .arrow:after {
    content: " ";
    right: 1px;
    border-right-width: 0;
    border-left-color: #ffffff;
    bottom: -10px;
}

/****** POP-OVER END *****************/

.infoIcon, .icon-question-sign {
    cursor: pointer;
    font-size: 12pt;
}

#paymentMethodInfo.has-error {
    font-weight: bold;
    color: #a94442;
}

.control-label {
    font-weight: bold !important;
}

:-moz-ui-invalid {
    box-shadow: none;
}

.row.row-inline {
    margin-left: 0;
}

.row.row-inline .col-inline {
    padding-left: 0px;
}

div.csvinfo {
    font-size: 11px;
    color: #666;
    margin-bottom: 0;
    margin-left: 10px;
    padding: 0 6px;
    height: 34px;
    display: table;
    width: 190px;
}
.cscAmexLogo {
    background-image: url("../images/csc_amex.png");
    height: 18px;
    width: 32px; /* 5px padding */
    background-repeat: no-repeat;
}

.cscOtherLogo {
    background-image: url("../images/csc_other.png");
    height: 18px;
    width: 32px; /* 5px padding */
    background-repeat: no-repeat;
}

.cscCmcLogo {
    background-image: url("../images/csc_cmc.png");
    height: 18px;
    width: 32px; /* 5px padding */
    background-repeat: no-repeat;
}


div.csvinfo div, div.csvinfo div span {
    display: table-cell;
    vertical-align: middle;
}

.paymentPlans table {
    background-color: #fdfdfd;

}

.paymentPlans table.selected {
    background-color: #fff;

}

@media screen and (min-width: 768px) {
    .paymentPlans .planSelections {
        padding-left: 60px;
    }
}


.paymentPlans .noPlans {
    text-align: center;
    background-color: #fff;
    margin-top: 20px;
}

.paymentPlans td {
    height: 40px;
    padding-right: 14px !important;
    padding-left: 14px !important;
}

.payWith {
    margin-right: 20px;
    white-space: nowrap;
}

/* payment plans */
.paymentPlans .planCheckbox {
    width: 40px;
    text-align: center;
    opacity: 1;
}

.paymentPlans .offer {
    display: none;
    background-color: #eee;
    border-color: #e3e3e3;
}

.paymentPlans .spinner {
    margin-top: -8px;
    margin-bottom: -8px;
}
.paymentPlans table {
    margin-bottom: -1px;
}


.paymentPlans .payerInterest {
    text-align: center;
}
.paymentPlans .payerInterest:before {
    content: "(";
}
.paymentPlans .payerInterest:after {
    content: ")";
}

#expiryMonth, #expiryYear, #csc, #costcoMCCardSecurityCode {
    width: auto;
    display: inline-block;
}

#csc {
    vertical-align: top;
    width: 5em;
}

#costcoCardPin {
    width: 7em;
}

#costcoMCCardSecurityCode {
    vertical-align: top;
    width: 5em;
}

.ielabelfix {
    display: inline;
}

.dottedUnderline {
    border-bottom: 1px dashed blue;
}

.dccError {
    border: 1px solid #a94442 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)
}

.dcc_option {
    font-weight: bold;
}

.dcc_option>td+td {
    padding-left: 3px
}

.dcc_disclosure>td+td {
    padding-left: 3px
}

.dcc_disclosure {
    font-size: 75%
}

.dcc_retain {
    font-weight: bold;
    text-align: center;
    font-size: 125%;
}

.dcc_summary {
    font-weight: bold;
}

.dcc_disclosure td {
    padding-bottom: 5px;
}

.dcc_option label {
    margin-bottom: 0px;
}

.dcc_option td {
    padding-bottom: 3px;
}

/* Overwrite the default tooltip layout positioning */
.error-tooltip.tooltip {
    /* Need important as the tooltip dynamically set inline styles */
    bottom: auto !important;
    left: auto !important;
    margin: 0 !important;
    position: relative !important;
    right: auto !important;
    top: auto !important;
    transform: translate3d(0, 0, 0) !important;
}

.error-tooltip .tooltip-inner {
    background-color: transparent;
    color: #a94442;
    font-size: 12px;
    font-weight: bold;
    padding: 0;
    text-align: left;
}

.error-tooltip .tooltip-arrow {
    display: none;
}

.form-control.is-invalid, .form-control.is-valid {
    background-image: unset !important;
}

.input-is-invalid {
    color: #a94442;
}

.card-expiry {
    display: inline-block;
    padding-right: 5px;
    vertical-align: top;
}

.space-top {
    margin-top: 20px;
}

.editPaymentDetails {
    display: inline-block;
    font-size: 90%;
    padding: 12px 5px;
    text-decoration: underline;
}

.reviewSummaryText {
    position: relative;
    top: -8px;
}

.reviewSummaryText.alt {
    top: 0;
}

/* http://webaim.org/techniques/css/invisiblecontent/#absolutepositioning */
.hiddenOffScreen {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

.ellipsis {
    text-overflow: ellipsis;
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
}

.checkbox-align {
    position: relative;
    top: 2px;
}

/* Helper class to be used for ligature issues e.g. fi */
.fallback-font {
    font-family: Helvetica, Arial, sans-serif;
}

.error-tooltip .tooltip-inner.text-right {
    text-align: right;
    max-width: 100%;
    margin-bottom: 20px;
}

.lightbox .review-col {
    float: left;
    margin-bottom: 20px;
    min-height: 85px;
    width: 60%;
}

.lightbox .review-col.review-col-tall {
    min-height: 135px;
}

#payContainer .col-12 .contrast-success-btn{
    background-color: #3B833A;
}


.lightbox .col-12{
    padding-left:0;
    padding-right:0;
}

.lightbox .print-btn{
    color: #3174af;
}

.lightbox .modal-body {
    min-height: 320px;
}

.mb-0 {
    margin-bottom: 0;
}

.overflow-wrap{
    overflow-wrap: break-word;
}

@media (max-width: 767px) {
    .confirmation-checkbox.text-right, .error-tooltip .tooltip-inner.text-right {
        text-align: left;
    }
}

/* Make entire accordion header clickable */
.accordion label.form-check-label {
    width: 90%;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
}

/* Bootstrap overrides */

.h2, .h3 {
    margin-top: 0;
    padding-bottom: 5px;
}

legend {
    border-bottom: none !important;
}

.pay .card {
    background-color: #fafafa;
    
    border-radius: 4px;
    box-shadow: 0 6px 12px 0 rgba(0,0,0,0.12);
}

.card, .panel-group .card {
    border-radius: 0;
}

.panel-group .card:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.panel-group .card:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.reviewSummaryHeader {
    margin-bottom: 10px;
}

.focus-help-text {
    background-color: transparent;
    color: #333333;
    font-size: 12px;
    font-weight: bold;
    padding: 0;
    text-align: left;
}

.printBlockButton {
    width: 100% !important;
    padding-top: 7px !important;
    background: #3B833A !important;
    height: 40px !important;
}

.close-button-tab-fix {
    display: inline-block;
    float: right;
}

.header-tab-fix {
    display: inline-block;
}

